@import "../../../stylesheets/abstracts/mixins";
@import "../../../stylesheets/abstracts/breakpoints";
@import "../../../stylesheets/abstracts/variables";
@import "../../../stylesheets/base/typography";

.header {
  background: $white;
  height: 72px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  &__logo {
    @extend %h4;
    color: $text;
    padding: unset;
    margin: unset;
    font-weight: $semi-bold;
  }
}
